
{template "content","header"}
<link href="{CSS_PATH}ys_about.css" rel="stylesheet" type="text/css" />


<div class="banner_div"></div>

<div class="content">

{template "content","left"}

<div class="right_main">

   <div class="right_main_title"><span class="position_div"><a href="{siteurl($siteid)}">首页</a>>{catpos($catid)}</span>{php $k = intval(diy_top_id($catid))}
       {$CATEGORYS[$k]['catname']}</div>
   <div class="right_main_con">

      <div class="tabchange_div">
          <!--选项卡开始-->
           <div class="tabchange_con">
           
   
                    <div class="conent_about">
                      <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=12&action=js&siteid=1'></script>
                    </div>

          </div>
          <!--选项卡结束-->
       
     </div>
      
      
   
   </div>


</div>    
<div class="clear"></div>

</div>
<!--内容结束-->

{template "content","footer"}

</body>
</html>
